<div class="monitoring">
  <ng-container *ngIf="timestampId >=0">
    <div>
      <form [formGroup]="form" (change)="onFormChange()">
          <mat-form-field appearance="fill" class="form-control">
            <mat-label for="area">Площа</mat-label>
            <input matInput id="area" type="number" formControlName="area">
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-control">
            <mat-label for="certs">Кількість паспортів</mat-label>
            <input matInput id="certs" type="number" formControlName="certs">
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-control">
            <mat-label for="firms">Кількість господарств</mat-label>
            <input matInput id="firms" type="number" formControlName="firms">
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-control">
            <mat-label for="samples">Кількість зразків</mat-label>
            <input matInput id="samples" type="number" formControlName="samples">
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-control">
            <mat-label for="blendedSamples">Кількість змішанних зразків</mat-label>
            <input matInput id="blendedSamples" type="number" formControlName="blendedSamples">
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-control">
            <mat-label for="radSamples">Кількість радіологічних зразків</mat-label>
            <input matInput id="radSamples" type="number" formControlName="radSamples">
          </mat-form-field>

        <div class="form-control">
          <mat-checkbox
            (change)="changeCheckbox($event)"
            color="primary"
            [checked]="monitoringServices[453] !== 0"
          >
          Розрахунковий метод</mat-checkbox>
        </div>

      </form>
    </div>
    <div class="service" *ngFor="let id of monitoringServiceIds; let idx = index">
<!--      <span class="service__id">{{idx + 1}}</span>-->
      <span class="service__id">{{id}}</span>
      <span class="service__title">{{getServiceById(id).title}}</span>
      <span class="service__price">{{getServiceById(id).prices[this.timestampId].mainPrice ? getServiceById(id).prices[this.timestampId].mainPrice : getServiceById(id).prices[this.timestampId].price}}</span>
      <div class="service__counter counter">
        <button [ngClass]="{'hidden': id === 457 ? true : false}" mat-icon-button class="counter__add" (click)="addService(id)">
          <mat-icon>add</mat-icon>
        </button>

        <span class="counter__count">{{getAmount(id)}}</span>

        <button [ngClass]="{'hidden': id === 457 ? true : false}" mat-icon-button class="counter__remove" (click)="removeService(id)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>
