.invoice {

  &__id {
    display: inline-block;
    margin: 20px;
    width: 30px;
  }

  &__date {
    display: inline-block;
    margin: 20px;
    width: 60px;
  }

  &__client {
    display: inline-block;
    margin: 20px;
    width: 300px;
  }

  &__amount, &__paid-amount {
    display: inline-block;
    margin: 20px;
    width: 60px;
  }
}

.isPaid {
  background: #19a05e;
}
