<div class="container">
  <div>
    <div class="date-picker">
      <input [(ngModel)]="dateStart" matInput [matDatepicker]="pickerStart" class="date-picker-input" (ngModelChange)="changeDate()" contenteditable="false">
      <mat-datepicker #pickerStart></mat-datepicker>
      <button mat-icon-button (click)="pickerStart.open()">
        <mat-icon>today</mat-icon>
      </button>
    </div>

    <div class="date-picker">
      <input [(ngModel)]="dateEnd" matInput [matDatepicker]="pickerEnd" class="date-picker-input" (ngModelChange)="changeDate()" contenteditable="false">
      <mat-datepicker #pickerEnd></mat-datepicker>
      <button mat-icon-button (click)="pickerEnd.open()">
        <mat-icon>today</mat-icon>
      </button>
    </div>

    <button (click)="test()">test</button>

  </div>
  <mat-accordion multi>
    <mat-expansion-panel class="invoice" *ngFor="let invoice of invoices$ | async; index as i" [ngClass]="{isPaid: isPaid(invoice)}" (click)="goToInvoice(invoice)">
      <mat-expansion-panel-header>
        <mat-panel-title class="header">
          <span class="header__id">{{invoice.idx}}</span>
          <span class="header__date">{{invoice.date | date: "short"}}</span>
          <span class="header__client">{{clients[invoice.client]?.name}}</span>
          <span class="header__amount">{{invoice.amount}}</span>
          <span class="header__paid-amount">{{invoice.paidAmount}}</span>
          <span class="header__paid-amount">
      <button mat-icon-button (click)="$event.stopPropagation(); setPaidAmount(invoice)">
        <mat-icon>money</mat-icon>
      </button>
    </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="invoice.serviceIds">
        <h4>Аналізи</h4>
        <div class="service service-head">
          <span class="id"> #з/п </span>
          <span class="title"> Назва послуги </span>
          <span class="count"> Кількість </span>
          <span class="price"> Ціна </span>
        </div>
        <div *ngFor="let service of getServicesList(invoice)" class="service">
          <span class="id"> {{service.id}} </span>
          <span class="title"> {{service.title}} </span>
          <span class="count"> {{service.count}} </span>
          <span class="price"> {{service.price}} </span>
        </div>

      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
