<mat-accordion multi>
  <mat-expansion-panel *ngFor="let category of categories; let CatIdx = index" [(expanded)]="category.extended">
    <mat-expansion-panel-header >
      <mat-panel-title >
        {{category.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="hasSubcategory(CatIdx); else services">
      <ng-container *ngFor="let subcategory of subcategories; let subcatIdx = index">
        <mat-expansion-panel *ngIf="subcategory.categoryId === CatIdx" [(expanded)]="subcategory.extended">
          <mat-expansion-panel-header>
            <mat-panel-title >
              {{subcategory.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ng-container *ngIf="hasSubSubcategory(subcatIdx); else subServices">
            <ng-container *ngFor="let subSubcategory of subSubcategories; let subSubcatIdx = index">
              <mat-expansion-panel *ngIf="subSubcategory.subcategoryId === subcatIdx" [(expanded)]="subSubcategory.extended">
                <mat-expansion-panel-header>
                  <mat-panel-title >
                    {{subSubcategory.title}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let service of getServicesBySubSubcat(subSubcatIdx)">
                  <div class="service"  *ngIf="service.prices[this.timestampId] !== undefined">
                    <span class="service__id">{{service.prices[this.timestampId].id}}</span>
                    <span class="service__title">{{service.title}}</span>
                    <span class="service__price">{{service.prices[this.timestampId].mainPrice ? service.prices[this.timestampId].mainPrice : service.prices[this.timestampId].price}}</span>
                    <div class="service__counter counter">
                      <button mat-icon-button class="counter__add" (click)="onAddService(service)">
                        <mat-icon>add</mat-icon>
                      </button>

                      <span class="counter__count">{{countService(service)}}</span>

                      <button mat-icon-button class="counter__remove" (click)="onRemoveService(service)">
                        <mat-icon>remove</mat-icon>
                      </button>
                    </div>
                  </div>
                </ng-container>

              </mat-expansion-panel>

            </ng-container>

            <ng-container *ngFor="let service of getServicesBySubcat(subcatIdx)">
              <div class="service"  *ngIf="service.subSubcategoryId === undefined && service.prices[this.timestampId] !== undefined">
                <span class="service__id">{{service.prices[this.timestampId].id}}</span>
                <span class="service__title">{{service.title}}</span>
                <span class="service__price">{{service.prices[this.timestampId].mainPrice ? service.prices[this.timestampId].mainPrice : service.prices[this.timestampId].price}}</span>
                <div class="service__counter counter">
                  <button mat-icon-button class="counter__add" (click)="onAddService(service)">
                    <mat-icon>add</mat-icon>
                  </button>

                  <span class="counter__count">{{countService(service)}}</span>

                  <button mat-icon-button class="counter__remove" (click)="onRemoveService(service)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-template #subServices>
            <ng-container *ngFor="let service of getServicesBySubcat(subcatIdx) | sort : timestampId">
              <div class="service" *ngIf="service.prices[this.timestampId] !== undefined">
                <span class="service__id">{{service.prices[this.timestampId].id}}</span>
                <span class="service__title">{{service.title}}</span>
                <span class="service__price">{{service.prices[this.timestampId].mainPrice ? service.prices[this.timestampId].mainPrice : service.prices[this.timestampId].price}}</span>
                <div class="service__counter counter">
                  <button mat-icon-button class="counter__add" (click)="onAddService(service)">
                    <mat-icon>add</mat-icon>
                  </button>

                  <span class="counter__count">{{countService(service)}}</span>

                  <button mat-icon-button class="counter__remove" (click)="onRemoveService(service)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>

          </ng-template>

        </mat-expansion-panel>

      </ng-container>

      <ng-container *ngFor="let service of getServicesByCat(CatIdx)">
        <div class="service" *ngIf="service.subcategoryId === undefined  && service.prices[this.timestampId] !== undefined">
          <span class="service__id">{{service.prices[this.timestampId].id}}</span>
          <span class="service__title">{{service.title}}</span>
          <span class="service__price">{{service.prices[this.timestampId].mainPrice ? service.prices[this.timestampId].mainPrice : service.prices[this.timestampId].price}}</span>
          <div class="service__counter counter">
            <button mat-icon-button class="counter__add" (click)="onAddService(service)">
              <mat-icon>add</mat-icon>
            </button>

            <span class="counter__count">{{countService(service)}}</span>

            <button mat-icon-button class="counter__remove" (click)="onRemoveService(service)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>

    </ng-container>

    <ng-template #services>
      <ng-container *ngFor="let service of getServicesByCat(CatIdx)">
        <div class="service" *ngIf="service.prices[this.timestampId] !== undefined">
          <span class="service__id">{{service.prices[this.timestampId].id}}</span>
          <span class="service__title">{{service.title}}</span>
          <span class="service__price">{{service.prices[this.timestampId].mainPrice ? service.prices[this.timestampId].mainPrice : service.prices[this.timestampId].price}}</span>
          <div class="service__counter counter">
            <button mat-icon-button class="counter__add" (click)="onAddService(service)">
              <mat-icon>add</mat-icon>
            </button>

            <span class="counter__count">{{countService(service)}}</span>

            <button mat-icon-button class="counter__remove" (click)="onRemoveService(service)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>

    </ng-template>

  </mat-expansion-panel>
</mat-accordion>
<!--<div *ngFor="let s of totalServices">{{s.title}}</div>-->
