:host {
  display: grid;
  grid-template-columns: 200px 1fr 200px 40px 40px 40px 40px 40px;
  height: 60px;
  width: 100%;
  background: #a8bff1;
  z-index: 999990;
  align-items: center;
}
.total-amount, .invoice-idx {
  padding-left: 20px;
  font-size: 30px;
  color: #2b2b2b;
  line-height: 26px;
}

.date-picker {
  display: flex;
  justify-content: flex-end;

  input {
    width: 80px;
    border: none;
    background: none;
  }
}
@media screen and (max-width: 760px) {
  :host {
    height: 80px;
    grid-template-areas:  "create toggle-full-list collapse-all refresh logout"
                          "total-amount total-amount date-picker date-picker date-picker";
    grid-template-rows: 40px 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;

    .create {
      grid-area: create;
    }

    .toggle-full-list {
      grid-area: toggle-full-list;
    }

    .collapse-all {
      grid-area: collapse-all;
    }

    .refresh {
      grid-area: refresh;
    }

    .logout {
      grid-area: logout;
    }

    .total-amount {
      grid-area: total-amount;
    }

    .invoice-idx {
      display: none;
    }

    .date-picker {
      grid-area: date-picker;
    }
  }


  .total-amount, .invoice-idx {
    padding: 0 0 0 2px;
    font-size: 18px;
    line-height: 18px;
  }

}

::ng-deep .cdk-overlay-container {
  position: fixed !important;
  top: 20px;
  z-index: 9999999 !important; /* set value you need */
}


